/* 全体のスタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7fae6;
}

/* コンテンツ全体のレイアウトを中央に */
.container {
    width: 100%;
    max-width: 1200px; /* 拡大 */
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* プロフィール部分と楽曲一覧をまとめて表示するためのレイアウト */
.profile-list {
    display: grid;
    grid-template-columns: 1fr; /* デフォルトで1列 */
    grid-gap: 50px;
    margin: 50px;
}

.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* プロフィール部分のレイアウト */
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
    filter: drop-shadow(3px 3px 3px #777777);
}

.profile-details h1 {
    font-size: 28px;
    margin: 0;
    color: #333;
}

.profile-details p {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

/* 楽曲一覧部分 */
.music-list {
    margin-top: 20px;
}

.music-item {
    margin-bottom: 15px;
}

.music-item p {
    font-size: 18px;
    color: #555;
}

audio {
    min-width: 100%;
    border-radius: 5px;
}

/* レスポンシブ対応 */
@media (min-width: 900px) {
    .profile-list {
        grid-template-columns: 1fr 1fr; /* 幅900px以上で2列表示 */
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4fabc;
}

.top h1 {
    margin-top: 20px;
    filter: drop-shadow(3px 3px 3px #777777);
}

.top img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 30px;
    filter: drop-shadow(3px 3px 3px #777777);
}

.caution {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.sns {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-gap: 45px;
    align-items: center;
}